<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>

<h1>Video list :</h1>

<!--
    th:each odpowiednich foreach
    dla thymeleaf, html
    for ( task: tasks){
<iframe width="560" height="315" th:src="${video.getVideoUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<li>
    <iframe width="560" height="315" th:src="${video.getVideoUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<ul
    }
-->
<ul>
<li th:each="video: ${videos}">
    <iframe width="560" height="315" th:src="${video.getVideoUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</li>

</ul>




</body>
</html>
