<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>play</title>
</head>
<body>

<p th:text="${video.getVideoName()}"></p>

<!--
<iframe width="560" height="315" th:src="${video.getVideoUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<!--
<ul>
    <li th:each="video: ${videos}">

    <p th:text="${video.getVideoName()}"></p>
    <iframe width="560" height="315" th:src="${video.getVideoUrl()}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</li>
</ul>
-->
</body>
</html>